body{
    font-family: 'Grandstander', cursive;
    color: rgb(47, 36, 58);
    margin: 3%;
    background-color: rgb(250, 244, 244);
}
header{
   /* text-align: center; */
   justify-content: center;
   display: flex;
}
img{
    display: flex;
    position: sticky;
    height: 100px;
}
span{
    color: rgb(68, 64, 84);
    text-decoration: underline;
}
.wrapper_flex{
    display: flex;
    margin: 2em;
    padding: 5px;
}
h3{
    width: 50%;
    height: 100px;
    flex-direction: column;
    display: flex;
    position: sticky;
    background-color: rgb(250, 201, 184);
    border-radius: 10px;
    padding: 10px;
    /* color: rgb(47, 36, 58); */
    justify-content: space-between;
}
button{
    word-wrap: break-word;
    width: 100px;
    background-color: rgb(235, 164, 164);
    border-radius: 10px;
    padding: 3px;
    text-align: center;
}
p{
    padding: 10px;
    text-align: justify;
    font-size: relative 60%;
}
a:visited{
    font-family: 'Grandstander';
    color: rgb(47, 36, 58);
}
a{
    font-family: 'Grandstander';
    color: rgb(47, 36, 58);
}
footer{
    background: rgb(68, 64, 84);
    color: white;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1em;
    display: grid;
    text-align: center; 
    border: thin dashed black;
    border-radius: 10px;
    padding: 10px;
}
.facebook:visited{
    color: white;
}
.facebook:active{
    color: white;
}